/* Root Header */
.header-root-cta {
    display: flex;
    justify-content: space-around;
    min-width: 100vw;
    min-height: 100vh;
    margin: 5px;
}

.header-h1 {
    text-shadow: 2px 1px white;

}

.social-nav-cta {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 15px;
}


/* Navigation Bar */
.nav-bar-cta {
    display: flex;
    justify-content: space-between;
    min-width: 100%
}

.nav-bar-link {
    text-decoration: none;
    color: black;
    text-shadow: 2px 1px white;
    margin: 5px;
    font-weight: 800;
}


/* Social Media */
.social-media-cta {
    display: flex;
    justify-content: space-evenly;
}

.social-media-icon {
    width: 25px;
    height: 25px;

}