/* Root Header */
.header-root-cta {
    display: flex;
    justify-content: space-between;
    width: 100vw;


}

.header-h1 {
    text-shadow: 3px 1px white;
    margin: 0px 0px 0px 25px;
    padding: 0;
    color: black;
    font-size: 45px;
    display: flex;
    align-items: center;


}

.social-nav-cta {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 25px;
}


/* Navigation Bar */
.nav-bar-cta {
    display: flex;
    justify-content: space-around;
    max-width: 100%
}

.nav-bar-link {
    text-decoration: none;
    color: black;
    text-shadow: 2px 1px white;
    color: black;
    margin: 5px 15px;
    font-size: 25px;
}


/* Social Media */
.social-media-cta {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.social-media-icon {
    width: 35px;
    height: 35px;
    margin-left: 15px;
    margin-right: 15px;

}

/* Media Query Responsive Design */

@media(max-width:650px) {
    .header-root-cta {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
}