/* Root Header */
.header-root-cta {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 0;

}

.header-h1 {
    text-shadow: 2px 1px palevioletred;
    margin: 20px 5px 5px 25px;

}

.social-nav-cta {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 15px;
}


/* Navigation Bar */
.nav-bar-cta {
    display: flex;
    justify-content: space-between;
    max-width: 100%
}

.nav-bar-link {
    text-decoration: none;
    color: black;
    text-shadow: 2px 1px white;
    margin: 5px 15px;
    font-weight: 800;
}


/* Social Media */
.social-media-cta {
    display: flex;
    justify-content: space-evenly;
}

.social-media-icon {
    width: 25px;
    height: 25px;

}