#root {
  margin: 0;
  padding: 0;

}

html {
  background-image: url('../img/pink_crouch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100vh;



  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* padding: auto; */
}

/*  PermanentMarker 
Caveat
IndieFlower
MarckScript
MochiyPopOne
MontserratAlternates
Pacifico
SassyFrass
ShadowsIntoLight,
Solitreo,
Tangerine,
Unbound

*/
/* Permanent Marker */
@font-face {
  font-family: "PermanentMarker";
  src: local("'../font/PermanentMarker.ttf"),
    url("../font/PermanentMarker.ttf") format("truetype");
}

/* Caveat */
@font-face {
  font-family: "Caveat";
  src: local("'../font/Caveat.ttf"),
    url("../font/Caveat.ttf") format("truetype");
}

/* IndieFlower */
@font-face {
  font-family: "IndieFlower";
  src: local("'../font/IndieFlower.ttf"),
    url("../font/IndieFlower.ttf") format("truetype");
}

body {

  font-family: IndieFlower, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-cta {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  max-height: 100vh;
  margin: 5px 35px 5px 35px;

}