#root {
  max-width:100%;
  max-height: 100%;
  margin: 0px auto;
  padding: 0;
  background-color: #ff74aA;
}

html {
  background-image: url('../img/pink_crouch.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: auto; */
}

/*  PermanentMarker 
Caveat
IndieFlower
MarckScript
MochiyPopOne
MontserratAlternates
Pacifico
SassyFrass
ShadowsIntoLight,
Solitreo,
Tangerine,
Unbound

*/
/* Permanent Marker */
@font-face {
  font-family: "PermanentMarker";
  src: local("'../font/PermanentMarker.ttf"),
    url("../font/PermanentMarker.ttf") format("truetype");
}
/* Caveat */
@font-face {
  font-family: "Caveat";
  src: local("'../font/Caveat.ttf"),
    url("../font/Caveat.ttf") format("truetype");
}

/* IndieFlower */
@font-face {
  font-family: "IndieFlower";
  src: local("'../font/IndieFlower.ttf"),
    url("../font/IndieFlower.ttf") format("truetype");
}

body {

  font-family: IndieFlower, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: space-around;
  align-items: center;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media(max-width:640px) {
  html {
    background-image: none;
    background-color: #ff74aA;
    min-width: 600px;
    min-height: 100%;
    /* background-image: url('../img/pink_crouch.jpg'); */

  }
  .path-cta {
    background-image: url('../img/pink_crouch.jpg');
    background-color: #ff74aA; 
    width: 100vw;
  }
  
  .home-cta {
    min-width: 500px;
  }

  .header-h1{
    display: flex;
    justify-content: center;
  }

  .home-h2 {
    visibility: hidden;
  }
}

