/* Media Query Responsive Design */

@media(max-width:1024px) {

    /* Root */

    #root {
    min-height: 100vh;
    text-align: center;


    }

    html {
        margin: 0 auto;
    }

    body {
        /* margin: 75px 0 0 0; */
    }

    .app-cta {
        /* height: 100%; */
        visibility: hidden;
    }

    /* Header */

    .header-root-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;

        min-width: 100vw;
        min-height: 100vh;
        margin: 0 auto;
        color: black;
    }

    .header-h1 {
        text-align: center;
        color: black;
        text-shadow: 3px 1px #ff7cae
;
        font-size: 65px;
        margin: 0;
        justify-content: center;
        padding-bottom: 55px;
        padding-top: 55px;
    }

    .nav-bar-cta {
        display: flex;
        flex-direction: column;
       min-height: 100vh;
        margin: 0 auto;
    }

    .nav-cta {
        margin: 0 auto;
    }

    .nav-bar-link {
        font-size: 55px;
        color: black;
        text-shadow: 3px 1px white;
        margin: 0;
    }

    .social-media-cta {
        display: flex;
        justify-content: center;
        height: 100%;
        margin: 0 auto;
    }

    .social-media-icon {
        width: 55px;
        height: 55px;
        margin-left: 5px;
        margin-right: 5px;

    }

    .social-nav-cta {
        display: flex;
        margin: 0;
        text-align:center;
        justify-content: space-evenly;

    }

    /* Home */

    .home-cta {
        visibility: hidden;
    }

    .home-h2 {
        visibility: hidden;
        margin: 0;
    }

    /*  Path */

    .path-cta {

    }

    .path-h2 {
        margin: 0 auto;
        text-align: center;

    }

    /* Player */

    .react-player {
        /* visibility: hidden; */
        max-width: 400px;

    }

}

/* End  */




@media(max-width:900px) {}