
/* Media Query Responsive Design */

@media(max-width:900px) {
  
    /* Root */

    #root {
        text-align: center;
    }
    html {
        background-image: none;
        background-color: #ff74aA;
        /* max-width: 100vw;
        max-height: 100vh; */
        background-image: url('../img/pink_crouch.jpg');
        /* margin: 0 auto; */
      }

      .app-cta {
        margin: 0 auto;
        visibility: hidden;
    }

    /* Header */

    .header-root-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 100vw;
        min-height: 100vh;
    }

    .header-h1{
        display: flex;
        justify-content: center;
        font-size: 35px;
        margin-left: -55px;
      }

      .nav-bar-cta {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

      .social-media-cta {
        display: flex;
        justify-content: center;
        height: 100%;
      }

      /* Home */

      .home-cta {
        visibility: hidden;
      }

      .home-h2 {
        visibility: hidden;
      }

      /*  Path */

      .path-cta {
        

      }

      .path-h2 {
        margin: 0 auto;
        text-align: center;
    
      }

      /* Player */

      .react-player {
        /* visibility: hidden; */
        max-width: 400px;
    
    }
      
} 
    /* End  */



    
    @media(max-width:900px)  {

    }

