/* Media Query Responsive Design */

@media(max-width:900px) {

    /* Root */

    #root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    html {
        background-image: none;
        /* background-color: #ff74aA; */
        /* max-width: 100vw;
        max-height: 100vh; */
        background-image: url('../img/pink_crouch.jpg');
    }

    .app-cta {
        margin: 0 auto;
        height: 100%;
        visibility: hidden;
    }

    /* Header */

    .header-root-cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        background: palevioletred;
        opacity: 0.6;
        margin: 0 auto;
    }

    .header-h1 {
        display: flex;
        justify-content: center;
        font-size: 55px;
        /* margin-left: -55px; */
    }

    .nav-bar-cta {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .social-media-cta {
        display: flex;
        justify-content: center;
        height: 100%;
    }

    .social-media-icon {
        width: 25px;
        height: 25px;
        margin-left: 5px;
        margin-right: 5px;

    }

    /* Home */

    .home-cta {
        visibility: hidden;
    }

    .home-h2 {
        visibility: hidden;
    }

    /*  Path */

    .path-cta {
        
    }

    .path-h2 {
        margin: 0 auto;
        text-align: center;

    }

    /* Player */

    .react-player {
        /* visibility: hidden; */
        max-width: 400px;

    }

}

/* End  */




@media(max-width:900px) {}