/* Home */
.home-cta {
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.home-h2 {
    color: white;
    font-size: 32px;

}


/* Studio */
.path-cta {
    /* background-color:black; opacity:0.4; */

    display: flex;
    justify-content: stretch;
    padding: 15px;
    margin: 0 auto;
}

.studio-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.path-h2 {
    padding: 0;
    margin: 0;
    font-size:55px;
    color: white;
    text-shadow: 2px 1px palevioletred;

}

.react-player {
    opacity: 1;
}

/* Media Query Responsive Design */

@media(max-width:650px) {
    .path-cta {
        height: 100vh;
        min-width: 100vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;

    }
}