/* Home */
.home-cta {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;

}

/* Welcome to my Queendom */
.home-h2 {
    color: white;
    font-size: 85px;
    text-shadow: 2px 1px black;
}


/* Studio */
.path-cta {
    /* background-color:black; opacity:0.4; */

    display: flex;
    justify-content: stretch;

}

.studio-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.path-h2 {
    padding: 0;
    margin: 0;
    font-size:55px;
    color: white;
    text-shadow: 2px 1px palevioletred;

}

.react-player {
    opacity: 1;
}
