
/* Path  */
.path-cta {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    height: 100%;
}


/* Home */
.home-cta {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%
}

/* Welcome to my Queendom */
.home-h2 {
    color: white;
    font-size: 85px;
    text-shadow: 2px 1px black;
}

.react-player.home {
    padding: 55px;
    /* margin-bottom: -150px; */

}

/* Bio */
.path-h2.bio {
    margin: 0 auto;
    padding: 0;


}

.path-p.bio {
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 2px 1px palevioletred;
    font-size: 35px;


}

/* Studio */
.studio-cta {
    display: flex;

}

.path-h2 {
    padding: 0;
    margin: 0 auto;
    font-size:55px;
    color: white;
    text-shadow: 2px 1px palevioletred;

}

.home-player {
    margin: 0 auto;
}

.react-player {
}